mainmenu "EASNFW-SENSOR"

menu "EASNFW-SENSOR image"

choice EASNFW_IMAGE_TYPE
	prompt "Image type"
	default EASNFW_IMAGE_TYPE_DEVELOPMENT

config EASNFW_IMAGE_TYPE_PRODUCTION
	bool "Production image"

config EASNFW_IMAGE_TYPE_DEVELOPMENT
	bool "Development image"

config EASNFW_IMAGE_TYPE_DEBUG
	bool "Debug image"

config EASNFW_IMAGE_TYPE_HIL
	bool "HIL verification image"
	select SHELL
	select SHELL_BACKEND_SERIAL
	select REBOOT

endchoice

config EASNFW_VERIFICATION_CODE
	def_bool EASNFW_IMAGE_TYPE_HIL

endmenu

source "Kconfig.zephyr"
